<h1>Get start with your calendar</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg.capitalize %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for @user do |f| %>
  <br>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <br>

  <div class="email">
    <%= f.label :email %>
    <%= f.email_field :email, :required => true %>
  </div>

  <br>

    <div class="password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <br>

  <div class="password_confirmation">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <br>

    <div class="buttom">
    <%= f.submit "Sign up!" %>
  </div>
<% end %>
