


<%= form_for @event do |f| %>
  <br>
    <%= f.label :title %>
    <%= f.text_field :title, :autofocus => true %>
  <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
  <br>
    <%= f.label :date %>
    <%= f.date_field :date %>
  <br>
  <%= f.label :user_id %>
  <%= f.text_field :user_id, :value => session[:user_id] %>
  <br>

    <h3>Add Place</h3>
     <%= form_tag do %>
       <%= label_tag :name %>
       <%= select_tag :place_id, options_for_select(Place.pluck(:name, :id)), :include_blank => true, :required => true %>
        
       <a href="/places/new">New Place</a>
       <%= f.submit %>

     <% end %>


<% end %>
