<h1>Event</h1>
<div class="event">
<li><p>Title:   </p><%= @event.title %></li>
<li><p>Description:   </p><%= @event.description %></li>
<li><p>Date:   </p><%= @event.date %></li>

  <%# @event.place.each do |place| %>
  <% unless @event.place.name == nil || @event.place.name.empty? %>
  <li><%= link_to @event.place.name, @event.place %></li>
  <% end %>

</div>

<div class="controls">
  <%= link_to 'Edit event', edit_event_path(@event) %>
  <%= link_to 'Delete event', @event, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
