<h1>Event</h1>
<div class="event">
<li><%= @event.title %></li>
<li><%= @event.description %></li>
<li><%= @event.date %></li>

  <% @event.places.each do |place| %>
  <li><%= link_to place.name, place %></li>
  <% end %>

</div>

<div class="controls">
  <%= link_to 'Edit event', edit_event_path(@event) %>
  <%= link_to 'Delete event', @event, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
