<h1>Selected place</h1>

<div class="place">
<li><p>Name:   </p><%= @place.name %></li>
<li><p>Facilities:   </p><%= @place.facilities %></li>
<li><p>Address:   </p><%= @place.location %></li>
</div>

<div class="placecontrols">
  <%= link_to 'Edit event', edit_place_path(@place) %>
  <%= link_to 'Delete event', @place, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
